<section id="experience" class="resume-border">
  <div class="resume-section" id="experience-content">
    <h2 class="resume-header">Experience</h2>
    {{ range $.Site.Data.experience }}
    <ul>
      <li>
        <span class="experience-item">{{ .title }}, <a href="{{.link}}">{{ .organization }}</a></span>
        <span class="experience-date">{{ .dates }} </span>
          {{  range .bullet_points}}
          <ul>
            <li class = "smaller-resume-item">{{ . }}</li>
          </ul>
          {{ end }}
      </li>
    </ul>
    {{ end }}
  </div>
</section>
