<section id="skills">
  <div class>
    <h2 class="resume-header">Skills</h2>
    {{ range $.Site.Data.skills }}
    <div class="resume-minor-header">{{ .grouping }}</div>
    {{ range .tech }}
    <ul class="skill-listing">
      <li class="skill-item">
        {{ .skill }} {{ if isset . "icon" }} {{ $name := lower (.icon) }}
        <i class="devicon-{{ $name }}-plain resume-icon"></i>
        {{ else }} {{ end }} {{ range .frameworks}}
        <ul>
          <li class="skill-framework-item">
            {{ .skill }} {{ if isset . "icon" }} {{ $name := lower (.icon) }}
            <i class="devicon-{{ $name }}-plain resume-icon"></i>
            {{ else }} {{ end }}
          </li>
        </ul>

        {{ end }}
      </li>
    </ul>
    {{ end }} {{ end }}
  </div>
</section>
