<style>
  .container {
    max-width: {
       {
        .Site.Params.containerMaxWidth|default "800px""800px"|safeCSS;
      }
    }
  }
  #nav a {
    font-weight: bold;
    color: inherit;
  }
  #nav-border {
    border-bottom: 1px solid #212529;
  }
  #main {
    margin-top: 1em;
    margin-bottom: 2em;
  }
  #home-jumbotron {
    background-color: inherit;
  }
  .font-125 {
    font-size: 125%;
  }
  .tag-btn {
    margin-bottom: 0.3em;
  }
  img {
    max-width: 100%;
  }

  .resume-header {
    font-size: x-large;
    margin-top: 1em;
    text-decoration: underline;
    font-weight: bold;
  }
  
  .index-text {
    text-align: center;
  }


  .experience-date {
    font-style: italic;
    display: block;
  }

  .resume-minor-header {
    font-size: large;
    font-weight: bold;
    margin: 0.1em;
  }

  .experience-item {
    font-weight: bold;
  }

  .skill-item {
    line-height: 0.3em;
  }


  .smaller-resume-item {
    font-size: smaller;
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: right;
  }

  .resume-icon {
    font-size: large;
    color: rgb(102, 9, 9);
  }

  .skill-framework-item {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
  }

  .footer-text {
    font-size: small;
    padding-right: 10px;
    max-height: 0.25rem;
  }
</style>
